<h1>User Profile</h1><br>
    <label for='Name'> <strong>Name:</strong> <%= current_user.name %> </label><br>
	<label for='Email'> <strong> Email: </strong><%= current_user.email  %> </label><br>
	<label for='Specialties'> <strong>Specialties:</strong> <%= current_user.specialties  %> </label><br>

	<a class="btn btn-primary" href="<%= url(:users, :go_to_edit) %>" >Edit profile</a>